@{
    ViewData["Title"] = "Panel Principal";
}

<h2 class="text-center mb-5 mt-4 fw-bold text-secondary">
    Panel Principal - Operario
</h2>

<div class="dashboard-grid">
    <a asp-controller="ProductionOrders" asp-action="Index" class="card dashboard-card text-decoration-none">
        <i class="bi bi-list-check display-3 mb-3 text-success"></i>
        <h4>Órdenes de Producción</h4>
    </a>
</div>
